/*ビジュアルエディターのスタイルを書く*/

/*************************************************
  !importantオプションをつけないと無視される項目だけを
  ここで規定する。
  (基本的にはstyle.cssの内容がそのままエディタで適用さ
   れている)
*************************************************/
.article h2 {
    margin-top: 50px !important;
    margin-bottom: 20px !important;
}
.article h3, .article h4, .article h5, .article h6 {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}
.article p {
    margin: 1em 1em 1em 1em !important;
}
